header {
  min-width: fit-content;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1000;
  
  height: 8vh;
  
}
.header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(209, 224, 224);
  box-shadow: 0px 0.5px 8px rgba(0, 0, 0, 0.178);
  position: fixed;
  height: 60px;
}
.header-left {
  display: flex;
  max-height: 55px;
  flex-direction: row;
  align-items: center;
}
.header-left > a{
  text-decoration: none;
}
#title{
  color:rgba(0, 0, 0, 0.719);
  font-weight: bold;
  font-size: 34px;
}
#title:hover{
  color:rgba(0, 0, 0, 0.501);
}

.header-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-middle > .header-search-container {
  display: flex;
  padding: 10px 10px;
  margin-right: 10px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid rgba(34, 34, 34, 0.254);
}
.header-search-container > input {
  border: none;
  width: 100%;
  margin-left: 5px;
  outline: none;
}
.header-search-container > .MuiSvgIcon-root {
  color: #ccc;
}
.header-right {
  display: flex;
  flex-direction: row;
  max-height: 55px;
}
.header-right > .header-right-container {
  display: flex;
  flex-direction: row;
  /* min-width: 200px; */
  justify-content: space-between;
  padding: 5px 10px;
}
/* .header-right-container > #logout{
  font-size: medium;
  font-weight: bold;
}
.header-right-container > #logout :hover{
  cursor: pointer;
} */

.avtar{
  cursor: pointer;
  margin-top: 3px;
  /* border: 1px solid rgba(0, 0, 0, 0.536);
  border-radius: 100%; */
}



@media screen and (max-width: 768px) {
  .header-middle {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-middle {
    width: calc(20 * 2vw);
  }
  .header-search-container {
    width: 100%;
  }
}
